<h1>
   <%= @pirate.name %>
   <%= @pirate.height %>
   <%= @pirate.weight %>
   </h1>

<h2>
    <% Pirate.all.each do |pirate| %>
        <%= pirate.ships.name %>
        <%= pirate.ships.type %>
        <%= pirate.ships.booty %>
    </h2>

<h2> </h2>
