<h1>
   <%= @pirate.name %>
   <%= @pirate.height %>
   <%= @pirate.weight %>
   </h1>

   <h2>Ships</h2>
   <% Ship.all.each do |ship| %>
    <%= ship.name %>
    <%= ship.type %>
    <%= ship.booty %>
    <% end %>
    


